.places {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  max-width: 984px;
}

/* @media screen and (max-width: 1152px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    max-width: 720px;
  }
} */
