@import url("vendor/normalize.css");
@import url("vendor/fonts/fonts.css");

.page {
  background-color: #2a2c2f;
  font-family: "Inter";
}






.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__tittle {
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
  color: #ffffff;
}

.lead__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
}

.lead__caption {
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
}
