@import url("vendor/normalize.css");
@import url("vendor/fonts/fonts.css");

.page {
  background-color: #2a2c2f;
  font-family: "Inter";
}

.header {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 18px;
}

.header__lang-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.15;
  text-decoration: none;
}

.header__lang-link_active {
  border-bottom: 2px solid white;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__tittle {
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
  color: #ffffff;
  text-align: center;
}

.lead__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
}
