.place__image {
  display: block;
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 1152px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 984px) {
  .place__image {
    max-width: 340px;
  }
}
