@media screen and (max-width: 1152px) {
  .content__section_padding_places {
    padding: 0 28px;
  }
}

@media screen and (max-width: 984px) {
  .content__section_padding_places {
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .content__section_padding_places {
    padding: 0 16px;
  }
}
