.lead__title {
  margin: 0 0 16px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
  text-align: center;
  max-width: 720px;
}

@media screen and (max-width: 700px) {
  .lead__title {
    margin: 0 0 8px;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
