.places__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* @media screen and (max-width: 1152px) {
  .places__list {
    gap: 62px;
  }
} */

@media screen and (max-width: 984px) {
  .places__list {
    gap: 73px;
  }
}

@media screen and (max-width: 568px) {
  .places__list {
    gap: 50px;
  }
}
