.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #ffffff;
  max-width: 484px;
}

.place__paragraph:first-child {
  margin: 0 0 24px;
}

@media screen and (max-width: 984px) {
  .place__paragraph {
    font-size: 16px;
  }
}

/* @media screen and (max-width: 984px) {
  .place__paragraph:first-child  {
    margin: 0 0 21px;
  }
} */

@media screen and (max-width: 564px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
