.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 0 16px;
  text-align: center;
  max-width: 560px;
}

@media screen and (max-width: 568px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 8px;
  }
}
