.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 10px;
}

@media screen and (max-width: 984px) {
  .place {
    gap: 48px 14px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
  }
}
